In [1]:
import pandas as pd

c:\Users\jhont\miniconda3\envs\ml\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Formatting Data for Comparison Data Set

In [4]:
topic = 'covid'
data = pd.read_csv('data/' + topic + '-labeled.csv')
data = data.dropna()
# Map Not Covid-19 Misinformation and neutral together
# 1: Not Covid misinfo, 2: neutral, 3: Covid Misinfo
data['Rating'] = data.Rating.map({1.0:0, 2.0:0, 3.0:1})
data.columns = ['text', 'label']
data['label'] = data['label'].astype(int)

0    542
1    357
Name: label, dtype: int64

                                                  text  label
518  @FrancieNolan6 @TracyBethHoeg As a retired RN ...      1
76   @sillymoderate @Bellabo82068180 @demstrongusa ...      0
456  @francoislegault So the CAQ going to pay off t...      0
299  I heard you cant get drafted if you are not va...      0
42   Took off half a week of work for this marvelou...      1

In [5]:
data.to_csv('data/' + topic + '-labeled-binary-all.csv', index=False)

# Formattting of 'Anti-Vax' Data Set

In [2]:
data = pd.read_csv('15k-Side-Test/hydrated-VaxMisinfoLabels.csv')
print(data.shape)
data_labels = pd.read_csv('15k-Side-Test/VaxMisinfoLabels.csv')

data_merged = pd.merge(data,data_labels, left_on='id', right_on='id')
data_merged = data_merged[['text', 'is_misinfo']]
data_merged = data_merged.dropna()
data_merged.columns = ['text', 'label']
print(data_merged.shape)
data_merged.head()

(11503, 35)
(11503, 2)

                                                text  label
0  My 87 year old grandmother has been quarantini...      0
1  I’m so excited that with this vaccine I can se...      0
2  So excited that I was able to close out 2020 o...      0
3  I’m getting my COVID-19 vaccine, baby! I’m so ...      0
4  Excited and grateful for ending 2020 with the ...      0

In [6]:
print(data_merged.label.value_counts())
data_merged.to_csv('data/15k-labeled-binary-all.csv', index=False)

0    7628
1    3875
Name: label, dtype: int64